.icon-table {
  background-image: url('../../../../assets/mesa_libre.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 200px;
  height: 220px;
  position: relative;
}

.status-table {
  font-family: var(--font-roboto);
  font-weight: bold;
  font-size: 17px;
  width: 50%;
  height: 46px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 89px;
  left: 50px;
  background-color: transparent;
}

.table-free {
  background-image: url('../../../../assets/mesa_libre.png');
}

.table-kitchen {
  background-image: url('../../../../assets/mesa_cocina.png');
}

.table-toDeliver {
  background-image: url('../../../../assets/mesa_listo.png');
  color:var(--color-white);
}

.table-served {
  background-image: url('../../../../assets/mesa_servido.png');
  color: var(--color-white);
}

.options {
  list-style: none;
  padding: 0;
  font-family: var(--font-text);
  font-weight: bold;
  position: absolute;
  top: 40px;
  left: -36px;
}

.item-options {
  background-color: var(--color-yellow);
  border-radius: 5px;
  border: var(--color-black) solid 1px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-black);
  text-align: center;
  margin-bottom: 5px;
  padding: 5px;
  -webkit-box-shadow: 6px 5px 12px -2px #000000;
  box-shadow: 6px 5px 12px -2px #000000;
}

.container-principal {
  position: relative;
}
