.section-order {
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
}

app-menu {
  flex: 1 1 50%;
}

app-order-detail {
  flex: 1 1 50%;
  margin-bottom: 2rem;
}

@media screen and (max-width: 800px) {
  .section-order {
    flex-direction: column-reverse;
  }
}
