.card-product{
    padding: 8px;
    border: solid 1px var(--brown);
    border-radius: 10px;
    background: white;
    display: inline-block;
    position: relative;
}


.container-price{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: var(--brown) 1px solid;
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 8px;
    border-radius: 0 0 8px 8px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--brown);
    font-family: var(--font-roboto);
    background-color: rgba(243, 215, 93, 0.7);
    min-height: 60px;
}

img{
    width: 100%;
    max-width: 190px;
    height: 250px;
}