.card-product {
  padding: 8px;
  border: solid 1px var(--color-yellow);
  border-radius: 10px;
  background: white;
  display: inline-block;
  position: relative;
}

.container-price {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: var(--color-yellow) 1px solid;
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 8px;
  border-radius: 0 0 8px 8px;
  font-size: 1.2rem;  
  color: var(--color-black);
  font-family: var(--font-roboto);
  background-color: #fdbf04cc;
  min-height: 60px;
}

img {
  width: 100%;
  max-width: 190px;
  height: 250px;
}

.container-img {
  width: 190px;
  height: 250px;
  background-image: url("../../../../assets/llama.png");
}
