.container-principal {
  margin-top: 1.5rem;
}
.container-order {
  display: flex;
  justify-content: space-around;
}
.menu-options {
  width: 100%;
  max-width: 200px;
  border: var(--color-black) solid 1px;
  font-family: var(--font-roboto);
  font-weight: bold;
  text-align: center;
  color: var(--color-black);
  background-color: var(--color-white);
  padding: 0.8rem 0;
  font-size: 1.5rem;
  background-color: var(--color-yellow);
  border-radius: 8px;
  margin-bottom: 1rem;
  position: absolute;
  top: -29px;
  right: 171px;
}

.btn-records {
  width: 100px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}

.btn-records img {
  width: 70px;
  height: 70px;
}

.btn-records span {
  font-size: 1.5rem;
  color: var(--color-yellow);
  font-family: var(--font-roboto);
}

.orders-pending,
.orders-in-preparation {
  border: 5px var(--color-yellow) solid;
  padding: 3rem 2rem;
  position: relative;
  width: 50%;
  max-width: 550px;
  background: #0000006e;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .menu-options {
    right: 91px;  
  }
}
