<div class="container-principal">
  <div class="btn-records" routerLink="/kitchen/records">
    <img src="../../../../assets/records.png" />
    <span>Historial</span>
  </div>
  <div class="container-order">
    <div class="orders-pending">
      <div class="menu-options">Pedido</div>
      <app-pending-order *ngFor="let item of ordersPending" [detailOrder]="item"></app-pending-order>
    </div>    
    <div class="orders-in-preparation">
      <div class="menu-options">En preparación</div>
      <app-order-in-preparation *ngFor="let item of ordersInPreparation" [dataOrder]="item"></app-order-in-preparation>
    </div>
  </div>
</div>
