button {
  font-family: var(--font-roboto);
  color: var(--brown);
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: solid 1px var(--brown);
  padding: 7px 13px;
}

.btn-primary {
    background-color: var(--yellow);
}

.btn-secondary {
    background-color: white;
}
