.container-detail {
  width: 100%;
  background-color: var(--color-black);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: inset 19px 19px 60px #121212, inset -19px -19px 60px #303030;
  border: solid 1px #f4f4f473;
}

span[item] {
  font-size: 1.4rem;
}

.disable {
  color: grey;
}

div[options] {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
  width: 230px;
  margin-bottom: 1rem;
}

div[options] > span {
  display: inline-block;
  margin: 3px 16px;
}

.container-title-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-top: 2rem;
  font-family: var(--font-roboto);
  color: var(--color-yellow);
}

.container-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  margin-top: 1.5rem;
}

.total {
  font-family: var(--font-roboto);
  color: var(--color-yellow);
  margin-right: 1rem;
}

.price-total {
  font-family: var(--font-text);
  color: var(--color-white);
}

.container-btn {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.container-cliente-waiter {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  color: var(--color-yellow);
  font-family: var(--font-roboto);
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

input {
  border-radius: 5px;
  padding: 5px;
  border: var(--brown) 1px solid;
  flex: 1 1 auto;
  font-size: 1.2rem;
  color: var(--color-black);
}

input:focus {
  outline: none;
}

.input-text {
  border-radius: 5px;
  padding: 5px;
  border: none;
  flex: 1 1 auto;
  font-size: 1.2rem;
  color: var(--color-white);
  background-color: transparent;
}

.order {
  color: var(--color-yellow);
  font-family: var(--font-roboto);
  font-size: 1.2rem;
}

.text {
  flex: 1 1 auto;
  font-size: 1.2rem;
}

.container-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-status {
  width: 40px;
}

.status {
  color: var(--color-yellow);
  font-family: var(--font-text);
  font-size: 1.2rem;
}

.status-green {
  color: #31a833;
}

.status-red {
  color: #ff0000;
}

.status-white {
  color: var(--color-white);
}
