<div class="container-detail">
  <div class="container-cliente-waiter">
    <label for="client">
      <span class="text">Cliente</span>
      <input
        type="text"
        (input)="saveClient(client.value)"
        #client
        [value]="valueClient | capitalize"
        [readonly]="valueClient"
        [ngClass]="{ 'input-text': valueClient, 'input-red': placeholderInput}"
        [placeholder]="placeholderInput"
      />
    </label>
    <label for="waiter"
      ><span class="text">Meserx</span>
      <input
        type="text"
        (input)="saveWaiter(waiter.value)"
        #waiter
        [value]="valueWaiter | capitalize"
        [readonly]="valueWaiter"
        [ngClass]="{ 'input-text': valueWaiter, 'input-red': placeholderInput }"
        [placeholder]="placeholderInput"
      />
      <div *ngIf="isPopupIcon === 2 || isPopupIcon === 4" class="btn-orderCurrent" (click)="showPopup()"></div>
    </label>
    <div class="container-status">
      <span class="order">Estado del pedido:</span>
      <span class="status {{ statusColor }}">{{ statusText }} </span>
      <img [src]="urlImgStatus" class="icon-status" />
    </div>
  </div>
  <div class="container-title-option">
    <span>Cantidad</span>
    <span>Producto</span>
    <span>Valor</span>
  </div>
  <div>
    <app-item-order
      *ngFor="let product of products; index as i"
      [price]="pricesOrder[i]"
      [cantProduct]="product.quantity"
      [index]="i"
      (deleteItem)="deleteProduct($event)"
      (priceOrder)="updateProps($event, i)"
    >
      <span item>{{ product.item }}</span>
      <div options *ngIf="product.options.length">
        <span *ngFor="let option of product.options">+ {{ option }}</span>
      </div>
    </app-item-order>
  </div>
  <div class="container-total">
    <div>
      <span class="total">Mesa:</span>
      <span class="price-total">{{ table }}</span>
    </div>
    <div>
      <span class="total">Total:</span>
      <span class="price-total">{{ totalOrder | currency: 'USD':'symbol':'1.0-0' }}</span>
    </div>
  </div>
  <div class="container-btn" *ngIf="totalOrder">
    <app-buttom btnType="btn-secondary" text="Cancelar" routerLink="/waiter"></app-buttom>
    <app-buttom btnType="btn-primary" [text]="textBtn" (click)="onClickOrder()"></app-buttom>
  </div>
  <div class="popup-order" [ngClass]="{ show: popup }">
    <div class="item-popup" *ngFor="let item of itemsPopup; index as i">
      <h3>{{ i + 1 }}. {{ item.item }}</h3>
      <span>Cantidad: {{ item.quantity }}</span>
    </div>
  </div>
</div>
