<div class="container-modal">
  <div class="modal">
    <button class="btn-close" (click)="closeModal()">X</button>
    <h4 class="product">{{ product.item | uppercase }}</h4>
    <form [formGroup]="form" class="container-options">
      <div *ngIf="optionsProduct.multiples">
        <span>Múltiple opción</span>
        <div *ngFor="let item of optionsProduct.multiples; let i = index">
          <label>
            <input type="checkbox" [value]="item" (change)="onCheckboxChange($event)" />
            {{ item }}
          </label>
        </div>
      </div>
      <div *ngIf="optionsProduct.unique">
        <span>Única opción </span>
        <label *ngFor="let item of optionsProduct.unique">
          <input type="radio" formControlName="unique" value="{{ item }}" />
          {{ item }}
        </label>
      </div>
    </form>
    <app-quantity-control (cantChanged)="getCant($event)"></app-quantity-control>
    <app-buttom btnType="btn-primary" text="Agregar" (click)="addItem()"></app-buttom>
  </div>
</div>