<div class="container-principal">
  <app-quantity-control
    [cant]="cantProduct"
    (cantChanged)="sendQuantityItemOrder($event)"
  ></app-quantity-control>
  <div class="container-detail">
    <div class="container-item-price">
      <ng-content select="[item]" class="items"></ng-content>
      <span class="price">{{ price | currency: "USD":"symbol":"1.0-0" }}</span>
    </div>
    <div class="container-options"><ng-content select="[options]"></ng-content></div>
  </div>
  <div (click)="sendIndex()" class="btn-delete"></div>
</div>
