<div class="container-principal">
  <p class="item-list">
    <span class="description">Cliente:</span>
    <span>Cliente:</span>
  </p>
  <div class="item-list">
    <span class="description">Mesero:</span>
    <span>Mesero:</span>
  </div>
  <p class="item-list">
    <span class="description">Mesa:</span>
    <span>Mesa:</span>
  </p>
  <p class="item-list">
    <span class="description">Fecha:</span>
    <span>Fecha:</span>
  </p>
  <p class="item-list">
    <span class="description">Tiempo de ejecución:</span>
    <span>Tiempo de ejecución:</span>
  </p>
  <p class="item-list">
    <span class="description">Total:</span>
    <span>Total:</span>
  </p>
  <span>Pedido:</span>
  <div>
    <span>Producto:</span>
    <span>cantidad:</span>
    <div>
      <span>Opciones:</span>
    </div>
  </div>
</div>
