.container-principal {
  background-color: var(--color-black);
  border-radius: 10px;
  color: var(--color-white);
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  font-family: var(--font-roboto);
  font-size: 1.25rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.description {
  font-size: 1.4rem;
  color: var(--color-yellow);
  margin-right: 0.5rem;
}

.item-list {
  margin: 0 0 0.8rem 0;
}

.order {
  font-size: 1.4rem;
  color: var(--color-yellow);
}

.item-order {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
