.container-role {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2.5rem;
}


@media screen and (max-width: 800px) {
  .container-role {
    flex-direction: column;
  }
}
